/* The top container for this component */
.filterSearchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

/* Filters Section */
.filterSearchFilterSection {
  margin: 0 0 0 30vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.filterSearchFilter {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

/* Search bar and Icon Section */

.filterSearchSearchSection {
  margin: 0 30vw 0 0;
  display: flex;
}

.filterSearchSearchBar {
  width: 20vw;
}

.filterSearchSearchIcon {
  width: 25px;
  height: 25px;
  position: relative;
  right: 30px;
  top: 3px;
}

.filterSearchSearchIcon:hover {
  filter: invert(52%) sepia(79%) saturate(5648%) hue-rotate(211deg)
    brightness(94%) contrast(91%);
}
